/* App Fonts */

@font-face {
    font-family: "IYWBlack";
    src: url("../fonts/IRANYekanWebBlack.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebBlack.woff2") format("woff2"),
         url("../fonts/IRANYekanWebBlack.woff") format("woff"),
         url("../fonts/IRANYekanWebBlack.ttf") format("truetype");
}

@font-face {
    font-family: "IYWBold";
    src: url("../fonts/IRANYekanWebBold.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebBold.woff2") format("woff2"),
         url("../fonts/IRANYekanWebBold.woff") format("woff"),
         url("../fonts/IRANYekanWebBold.ttf") format("truetype");
}

@font-face {
    font-family: "IYWExtraBlack";
    src: url("../fonts/IRANYekanWebExtraBlack.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebExtraBlack.woff2") format("woff2"),
         url("../fonts/IRANYekanWebExtraBlack.woff") format("woff"),
         url("../fonts/IRANYekanWebExtraBlack.ttf") format("truetype");
}

@font-face {
    font-family: "IYWExtraBold";
    src: url("../fonts/IRANYekanWebExtraBold.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebExtraBold.woff2") format("woff2"),
         url("../fonts/IRANYekanWebExtraBold.woff") format("woff"),
         url("../fonts/IRANYekanWebExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "IYWLight";
    src: url("../fonts/IRANYekanWebLight.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebLight.woff2") format("woff2"),
         url("../fonts/IRANYekanWebLight.woff") format("woff"),
         url("../fonts/IRANYekanWebLight.ttf") format("truetype");
}

@font-face {
    font-family: "IYWMedium";
    src: url("../fonts/IRANYekanWebMedium.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebMedium.woff2") format("woff2"),
         url("../fonts/IRANYekanWebMedium.woff") format("woff"),
         url("../fonts/IRANYekanWebMedium.ttf") format("truetype");
}

@font-face {
    font-family: "IYWRegular";
    src: url("../fonts/IRANYekanWebRegular.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebRegular.woff2") format("woff2"),
         url("../fonts/IRANYekanWebRegular.woff") format("woff"),
         url("../fonts/IRANYekanWebRegular.ttf") format("truetype");
}

@font-face {
    font-family: "IYWThin";
    src: url("../fonts/IRANYekanWebThin.eot") format("embedded-opentype"),
         url("../fonts/IRANYekanWebThin.woff2") format("woff2"),
         url("../fonts/IRANYekanWebThin.woff") format("woff"),
         url("../fonts/IRANYekanWebThin.ttf") format("truetype");
}



/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "IYWRegular", sans-serif;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    font-family: "IYWBold", sans-serif;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* Start Project */

.flex{
    display: flex;
}

.red{ 
    background: red;
}
.yellow{ 
    background: yellow;
}
.aqua{ 
    background: aqua;
}


.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.storyImage{
    height: 74px;
    width:  74px;
    background: brown;
    border-radius: 100%;
}

.body {
    display: flex;
    flex-direction: column;
}

.slideshow {
    width: 100%;
    padding: auto;
    height: 400px;
    margin: 20px;
}

.shegeftaneh {
    width: 80%;
    height: 280px;
    margin: 20px auto 20px auto;
    display: flex;
}

.sheg-right__detail {
    display: flex;
    flex-direction: column;
    height: 254.03px;
    width: 126px;
    margin: 13px 20px;
    padding: auto 16px;
}

.sheg-left__detail {
    display: flex;
    flex-direction: column;
    height: 254.03px;
    width: 160px;
    gap: 3px;
    margin: 13px 20px;
    padding: auto 16px;
}

.advertis-item {
    height: 241.5px;
    width: 322px;
}